*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}
body {
    font-family: Alegreya,serif,monospace;
}
/* fonts style =================== */
.font-26 {
    font-size: 1.625rem;
}
/* =========================== */



/* start header section =====================================================================================*/

header {
    height: 100vh;
    
    background-image: url(../images/asset2.ed25c7587f099684d6ff.jpeg);
    background-size: cover;
    background-position: center center;
}

.over-lay{
    
    background-color: rgba(0,0,0,.2);
}

/*start navbar style=========== */
.navbar .navbar-brand{
    width: 12%;
}
.navbar a {
    color: white;
    text-transform: capitalize;
}
/*end navbar style ===============*/


.header-content h1 {
    font-size: 4.375rem;
}



.buttons :first-child{
    background-color: #8e7754;
    transition: background-color .4s;
    
}
.buttons :first-child:hover{
    background-color: white;
    color: black !important;
}

.fix-icons{
    top: 12rem;
    box-shadow: 0px 0px 20px 0px #ddd;
    transition: color 1s;
}

.fix-icons a:hover{
    color: #218fe6 !important;
}

.bullet{
    width: 30px;
    height: 50px;
    bottom: 2rem;
    
}

.bullet::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50;
    transform: translateX(-50%);
    width: 6px;
    height: 10px;
    border-radius: 35%;
    background-color: white;
    animation: moves 2.5s infinite ;
}


@keyframes moves {
    0%{
        bottom: 0;
    }

    100% {
        bottom: 80%;
        background-color: rgba(0,0,0,.2);
    }
}

/* navbar style from small to medium screens */
@media screen and (max-width : 991.98px){
    .navbar-nav {
        background-color: black;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        border-radius: 10px;
    }
}



/* end header section =====================================================================================*/



/* about-secton start */

    .about-content p , .location-conteny p ,.bank-section p,.contact-section p{
        line-height: 1.86em;
        margin-bottom: 20px;
        /* word-spacing: .1rem; */
        color: #686868;
        font-size: large;
        
        
        /* font-weight:600; */
    }

    /* .about-content ul li i {
        line-height: 2;
        
        
    } */

    .about-content ul li span , .contact-section ul li span{
        width: 1.875rem;
        height: 1.875rem;
        border: 0.5px solid #929292;
    border-radius: 50%;
    color: #8e7754;
    font-weight: 900;
    line-height: 2;

    }


    .contact-section ul li span{
        background-color: #8e7754 ;
        color: white;
    }
    .about-content ul li p , .contact-section ul li p {
        margin-left: .5rem;
    }


/* about-secton end */

@media screen and (max-width : 1199.98px) {
    .location-photo{
        text-align: center;
    }
    .location-photo img {
        width: 75% !important;
    }
}


.contact-section iframe {
    height: 34.62rem;
}

@media screen and (max-width : 1199.98px) {
    .contact-section{
        text-align: center;
    }
    .contact-section iframe {
        width: 80% !important;
        height: 17.31rem;
    }
}