*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}






/* header section */

header {
    height: 100vh;
    width: 100vw;
    background-image: url(../images/asset2.ed25c7587f099684d6ff.jpeg);
    background-size: cover;
    background-position: center center;
}

/*start navbar style */
.navbar .navbar-brand{
    width: 12%;
}



/*end navbar style */